.buildlog
.settings/
.zim/
out/
notebook.zim
packages/
pubspec.lock
server/config.ini
web/lib/packages
web/lib/models/packages
web/lib/components/packages
web/css/packages
web/img/packages
web/js/packages
web/packages
web/ui/packages
web/views/packages
