# Dart
.buildlog
build/
packages
pubspec.lock
*.iml
*.ipr
*.iws
*.dart.js
*.js_
*.js.deps
*.js.map
.idea/
out/
web/out/*

# Eclipse config
.settings/
.project

# Zim config
.zim/
notebook.zim

# Rest serveur PHP
server/config.ini
