@charset "utf8";

/* BLOC POSITIONNING */
#menu {
  position: absolute;
  top: 78px;
}

#breadcrumb {
  position: absolute;
  top: 42px;
  left: 110px;
}

#msg-bloc {
  position:fixed;
  z-index : 10000;
  top : 50px;
  right : 20px;
  width : 300px;
}

#main-bloc {
  padding: 120px 0 0 0;
}

.form-edit {
  overflow: auto;
  height:500px;
  width:100%;
}