@charset "utf8";

/* BLOC POSITIONNING */
#logo {
  position: absolute;
  top: 0;
  left: 0;
}
#site-title {
  margin: 0 0 0 135px;
  padding: 0;
}

#menu {
  position: absolute;
  top: 84px;
}

#breadcrumb {
  position: absolute;
  top: 45px;
  left: 110px;
}

#msg-bloc {
  position:fixed;
  z-index : 10000;
  top : 50px;
  right : 20px;
  width : 300px;
}

#main-bloc {
  padding: 123px 0 0 0;
}

#list-bloc {
  width: 250px;
  max-width: 500px;
  height:580px;
  overflow: auto;
  resize: horizontal;
  padding: 0 5px;
  border: 1px dotted Gainsboro;
}
#filter-zone-wh {
  margin: 0;
}

#edit-bloc {
  overflow: auto;
  -webkit-flex: 1;
  overflow: auto;
  height:650px;
}

.app-column {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

.app-row {
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

/* BOOTSTRAP MODIF */
legend {
  margin-bottom: 5px;
}
fieldset {
  margin:1em 2em;
}
.form-horizontal .control-group {
  margin-bottom: 8px;
}
.form-horizontal .form-actions {
  padding-left: 8px;
}

.form-horizontal .label-small .control-label {
  width: 60px;
}
.form-horizontal .label-small .controls {
  margin-left: 80px;
}
.form-horizontal .label-medium .control-label {
  width: 80px;
}
.form-horizontal .label-medium .controls {
  margin-left: 100px;
}
.form-horizontal .label-large .control-label {
  width: 100px;
}
.form-horizontal .label-large .controls {
  margin-left: 120px;
}