<!DOCTYPE html>
<link rel="import" href="../lib/components/message.html">
<link rel="import" href="../lib/components/message-overlay.html">

<polymer-element name="home-panel">
  <template>
    <h1>Accueil</h1>
    <p>
      Path : <span id="path">${path}</span>
      <button class="msg" on-click="addMessage">Add msg</button>
      <button class="msg-overlay" on-click="addMessageOverlay">Add msg overlay</button>
    </p>
  </template>
  <script type="application/dart" src="home.dart"></script>
</polymer-element>