<!DOCTYPE html>
<meta charset="utf-8">
<link rel="import" href="../lib/components/menu-list.html">
<link rel="import" href="../lib/components/message.html">

<polymer-element name="warehouse-panel">
  <template>
    <div class="app-row">
      <div id="list-bloc">        
        <menu-list title="Structures" elements="{{whList}}" on-selectmenu="{{onSelectedWarehouse}}"></menu-list>
      </div>
      <div id="edit-bloc">
        <form id="edit-wh" class="form-horizontal" autocomplete="on">
          <div class="form-edit app-column">
            <div class="app-row">
              <fieldset id="name-zone-wh">
  	            <legend>Nom et code</legend>
  		          <div class="control-group label-small">
  			          <label class="control-label" for="wh-name">Nom</label>
  			          <div class="controls">
  			            <div class="input-prepend">
                          <span class="add-on"><i class="icon-home"></i></span>
		                  <input id="wh-name" class="field input-xlarge" name="nom" type="text" required 
                            value="{{warehouse.tags['nom']}}"/>
  			            </div>
  		            </div>
  		          </div>

  		          <div class="control-group label-small">
  		            <label class="control-label" for="wh-type">Type</label>
  		            <div class="controls">
  		              <div class="input-prepend">
                      <span class="add-on"><i class="icon-tag"></i></span>
  		                <input id="wh-type" class="field input-medium" name="type" type="text" list="wh-type-list" 
                          value="{{warehouse.tags['type']}}"/>

    		              <datalist id="wh-type-list">
    		                <label for="wh-type-std" title="Choisir une valeur standard">ou</label>
    		                <select id="wh-type-std" name="type" >
    		                  <option value="archive">Archive</option>
    		                  <option value="bibliothèque">Bibliothèque</option>
    		                  <option value="cimetière">Cimetière</option>
    		                  <option value="mairie">Mairie</option>
    		                </select>
    		              </datalist>
  		              </div>
  		            </div>
  		          </div>

  		           <div class="control-group label-small">
  		            <label class="control-label" for="wh-code">Code</label>
  		            <div class="controls">
  		              <div class="input-prepend">
                      <span class="add-on"><i class="icon-barcode"></i></span>
  		                <input id="wh-code" class="field input-small" name="code" type="text" 
                          value="{{warehouse.tags['code']}}"/>
	                  </div>
  		            </div>
  		          </div>
  	          </fieldset>

  	          <fieldset id="adresse-zone-wh">
  	            <legend>Adresse</legend>
  		          <div class="control-group label-large">
  		            <label class="control-label" for="wh-adresse">Adresse</label>
  		            <div class="controls">
  		             <div class="input-prepend">
                     <span class="add-on"><i class="icon-road"></i></span>
  		               <input id="wh-adresse" class="field input-xlarge" name="adresse" type="text" 
                        value="{{warehouse.tags['adresse']}}"/>
		               </div>
  		            </div>
  		          </div>
  		          <div class="control-group label-large">
  	              <label class="control-label" for="wh-adresse-complement">Complément</label>
  	              <div class="controls">
  	               <input id="wh-adresse-complement" class="field input-xlarge" name="adresse:complement" 
                    type="text" value="{{warehouse.tags['adresse:complement']}}"/>
  	              </div>
  	            </div>
  	            <div class="control-group label-large">
  	              <label class="control-label" for="wh-code-postal">Code postal</label>
  	              <div class="controls">
  	               <input id="wh-code-postal" class="field" name="code_postal" type="text" 
                    value="{{warehouse.tags['code_postal']}}"/>
  	              </div>
  	            </div>
  	            <div class="control-group label-large">
  	              <label class="control-label" for="wh-ville">Ville</label>
  	              <div class="controls">
  	               <input id="wh-ville" class="field" name="ville" type="text" 
                    value="{{warehouse.tags['ville']}}"/>
  	              </div>
  	            </div>
  	          </fieldset>
            </div>

            <div class="app-row">
  	          <fieldset id="contact-zone-wh">
  	            <legend>Contact</legend>
  	            <div class="control-group label-large">
  	              <label class="control-label" for="wh-courriel">Courriel</label>
  	              <div class="controls">
  	                <div class="input-prepend">
                      <span class="add-on"><i class="icon-envelope"></i></span>
                      <input id="wh-courriel" class="field" name="courriel" type="email" 
                        value="{{warehouse.tags['courriel']}}"/>*
                    </div>
  	              </div>
  	            </div>
  	            <div class="control-group label-large">
  	              <label class="control-label" for="wh-url">Url du site web</label>
  	              <div class="controls">
  	                <div class="input-prepend">
    	                <span class="add-on">@</span>
    	                <input id="wh-url" class="field span4" name="url" type="url" 
                          value="{{warehouse.tags['url']}}"/>
  	                </div>
  	              </div>
  	            </div>
  	            <div class="control-group label-large">
  	              <label class="control-label" for="wh-telephone-fixe">
  	                <abbr title="Téléphone fixe">Tél.</abbr>
  	              </label>
  	              <div class="controls">
  	               <input id="wh-telephone-fixe" class="field" name="telephone:fixe" type="tel" 
                    value="{{warehouse.tags['telephone:fixe']}}"/>
  	              </div>
  	            </div>
  	            <div class="control-group label-large">
  	              <label class="control-label" for="wh-telephone-fax">Fax</label>
  	              <div class="controls">
  	               <input id="wh-telephone-fax" class="field" name="telephone:fax" type="tel" 
                    value="{{warehouse.tags['telephone:fax']}}"/>
  	              </div>
  	            </div>
  	          </fieldset>

  	          <fieldset id="note-zone-wh">
  	            <legend>Notes et infos compélementaires</legend>
  	            <div class="control-group label-large">
  	              <label class="control-label" for="wh-url-geneawiki">Url Geneawiki</label>
  	              <div class="controls">
  	                <div class="input-prepend">
  	                  <span class="add-on">@</span>
  	                  <input id="wh-url-geneawiki" class="field span4" name="url:geneawiki" type="url" 
                        value="{{warehouse.tags['url:geneawiki']}}"/>
	                  </div>
  	              </div>
  	            </div>
  	            <div class="control-group label-large">
  	              <label class="control-label" for="wh-note">Note</label>
  	              <div class="controls">
  	                <div class="input-prepend">
                      <span class="add-on"><i class="icon-comment"></i></span>
  	                  <textarea id="wh-note" class="field span4" name="note" value="{{warehouse.tags['note']}}"></textarea>
	                  </div>
  	              </div>
  	            </div>
  	          </fieldset>
            </div>
          </div>

          <div class="form-actions">
            <input id="wh-id" class="field" name="id" type="hidden" />

            <button type="submit" class="btn btn-success pull-right hide update-warehouse-cmd"
              on-click="{{updateWarehouse}}">
                Modifier
            </button>
            <button type="submit" class="btn btn-primary pull-right add-warehouse-cmd"
              on-click="{{addWarehouse}}">
                Ajouter
            </button>

            <button type="button" class="btn btn-danger hide delete-warehouse-cmd"
              on-click="{{deleteWarehouse}}">
                Supprimer
            </button>
            <button type="reset" class="btn reset-warehouse-cmd"
              on-click="{{resetWarehouse}}">
                Vider
            </button>
          </div>
        </form>
      </div>
    </div>
  </template>
  <script type="application/dart" src="warehouse.dart"></script>
</polymer-element>