/* add styles here */
body {
    font: 1.0em Trebuchet MS, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    margin-top: 2px;
    margin-bottom: 2px;
}
p {
    margin: 10px;
}
img {
    vertical-align: middle;
}
.selected {
    font-weight: bold;
}
.widget {
    margin-top: -1px;
    padding: 8px;
    /*border: 1px solid #3f7785;*/
}

header {
    box-shadow: -2px 1px 6px lightGrey;
	background-color: #EEE;
	border-bottom: 1px none #D3D3D3;
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
header h1.site-title a {
	color: #333;
	font-size: 0.6em;
	font-weight: lighter;
	font-family: arial;
	text-decoration: none;
	margin-left: 8px;
}
header .sys_menu {
	color: #AAA;
	float: right;
	margin-top: -30px;
	margin-right: 15px;
}
header .sys_menu a {
	color: #AAA;
	text-decoration: none;
	margin-left: 1px;
	font-weight: bold;
	padding: 0 5px 0 5px
}
header .sys_menu a:hover {
	color: #FFFFFF;
	background-color: #8eb533;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
header #version {
	float: left;
	color: #CCC;
	margin-right: 15px;
	font-size: 12px;
	font-family: arial;
	margin-top: 4px
}
header #account {
	padding-left: 20px;
	background: url(../img/user.png) 0 2px no-repeat;
	text-transform: capitalize;
}
header #busy {
	color: white;
	float: none;
	font-size: 0.7em;
	position: absolute;
	left: 400px;
	top: 13px;
}





.bloc-form {
	border: 1px solid #C4C7CA;
	box-shadow: 1px 1px 2px #C2C2C2;
	margin-bottom: 20px;
	width: 97%;
}
.bloc-title {
	background: url("../img/white-bloctitle.png") repeat scroll 0 0 transparent;
	border: medium none;
	color: #2C2C2C;
	font-weight: bold;
	font-size: 15px;
	height: 35px;
	line-height: 34px;
	padding: 0 10px;
	text-shadow: 0 1px #FFFFFF;
	margin-bottom: 10px;
}
.bloc-form .bloc-content {
	margin-left: 21px;
	margin-right: 21px;
	/*width: 90%;*/
}
#model-bloc form {
	position:absolute;
}
#model-bloc form input[type="checkbox"]{
	float:left
}
#model-bloc form label {
	width:150px;
}
section.start {
	font-size: 0.9em;
    margin-left : 10px;
    margin-right : 10px;
    margin-top : 10px;
    text-align:center
}
.start a {
   	color: #666;
	text-decoration: none;
}
section.start a:hover {
    text-decoration: underline;
}
section#copyright {
	font-size: 0.7em;
    padding : 8px;
    position:fixed;
	bottom:0;
    border:solid #DDD;
	border-width:1px 0 0 0;	
}
section#main {
	background: transparent;
	margin-top: -2px;
	/*width: 78.4em;*/
	font-size: 12px;
	margin: 55px 0px 0 0px;
	padding-left: 10px;
	position:absolute;
	margin-left:230px;
	padding-bottom:30px;
	min-width:80%;
}

section#msg-bloc {
    z-index : 10000;
    position:fixed;
    top : 50px;
    right : 20px;    
    width : 300px;
}

section.msg {
	border-radius: 5px 5px 5px 5px;
	display: block;
	font-size: 14px;
	margin: 5px 3% 0;
	padding: 10px 10px 10px 10px;
	width: 95%;
}

section.msg.ok {
	border: 1px solid #79C20D;
	color: #32510F;
        background-color : #B0E8B2;
}

section.msg.err {
	border: 1px solid #FF0000;
	color: #FF0000;
        background-color : #FAB1B6;
}

section#main-bloc {
	background: transparent;
	min-height: 400px;
	display:block;
	overflow: auto;
}

section#dialog-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(230, 230, 230, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	/* hide it by default */
	display: none;
	text-align:center
}

div#dialog-bloc {
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	position: relative;
	top: 30px;
        left: 0px;
	z-index: 2000;
        max-height : 80%;
        max-width : 95%;
	padding: 40px;
	font-size: 12px;
	display:inline-block;
	text-align:left;
	min-width:15%;
	margin:auto;
        overflow: auto;
        /*text-align:center*/}

aside#sidebar {
	background-color:#E0E0E3;
	position:fixed;
	top:0px;
	z-index:10;
	margin-top: 55px;
	height: 100%;
	min-height: 600px;
	width: 215px;
	box-shadow: -2px -7px 6px lightGrey;
	background-color: #EEE;
	border-right: 1px none #D3D3D3;
	
}

#sidebar hr {
	background: url("../img/sidebar_divider.png") repeat-x scroll 0 0
		transparent;
	border: medium none;
	display: block;
	height: 2px;
	outline: medium none;
	width: 100%;
}

#status_block {
	font-style: oblique;
}

.quick-search {
	margin: -4px;
}

.quick-search input {
	background: url("../img/icn_search.png") no-repeat scroll 6px 4px
		#FFFFFF;
	border: 1px solid #BBBBBB;
	border-radius: 10px;
	box-shadow: 0 2px 2px #CCCCCC inset, 0 1px 0 #FFFFFF;
	color: #444;
	height: 20px;
	padding-left: 30px;
	width: 160px;
	font-size: 11px;
}

.quick-search input[type="search"]:focus {
	border: 1px solid #77BACE;
	box-shadow: 0 2px 2px #CCCCCC inset, 0 0 10px #B3D270;
	color: #666666;
	outline: medium none;
}

.smenu-container {
	clear: both;
	border: 1px solid #dedede;
	margin-left: -7px;
	margin-top: -7px;
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 1px 2px 5px #DEDEDE;
	padding:5px;
}


.wtitle {
	font-size: 1.2em;
	font-weight: bold;
}

form {
	padding: 2px;
	margin: 2px;
	background: transparent;
}

div.show_id {
	font-size: 0.8em;
	font-style: italic;
}

fieldset label {
	vertical-align: bottom;
	display: inline-block;
	width: 200px;
	float: left;
	font-weight: normal;
}

label.selected {
	font-weight: bold;
}

label {
	float: none;
	width: auto;
}

/* icons */
.command {
	text-decoration: none;
	/*text-shadow: 0 1px 0 #FFFFFF;*/
	/*font-size: 0.9em;*/
	color: #666666;
	cursor:pointer;
}

.command:active {
	position: relative;
	top: 1px;
}


.command.dict {
	padding-left: 20px;
	background: transparent url(../img/dictionnary.png) no-repeat center left;
}

.command.help {
	padding-left: 20px;
	background: transparent url(../img/help.png) no-repeat center left;
}

.command.map {
	padding-left: 20px;
	background: transparent url(../img/map.png) no-repeat center left;
}

.command.syn {
	padding-left: 20px;
	background: transparent url(../img/syn.png) no-repeat center left;
}

.command.collapse-all {
	padding-left: 20px;
	background: transparent url(../img/collapse-all.png) no-repeat center left;
}

.command.expand-all {
	padding-left: 20px;
	background: transparent url(../img/expand-all.png) no-repeat center left;
}

.command.compare {
	padding-left: 20px;
	background: transparent url(../img/diff.png) no-repeat center left;
}

.command.close {
	padding-left: 20px;
	background: transparent url(../img/close.png) no-repeat center left;
}

.command.import {
	padding-left: 20px;
	background: transparent url(../img/import.png) no-repeat center left;
}

.command.export {
	padding-left: 20px;
	background: transparent url(../img/export.png) no-repeat center left;
}

.command.login {
	padding-left: 20px;
	background: transparent url(../img/icons/user.png) no-repeat center left;
}

.command.users {
	padding-left: 20px;
	background: transparent url(../img/icons/user.png) no-repeat center left;
}

.command.exchange {
	padding-left: 20px;
	background: transparent url(../img/exchange.png) no-repeat center left;
}

.command.settings {
	padding-left: 20px;
	background: transparent url(../img/icons/settings.png) no-repeat center
		left;
}

.command.filter {
	padding-left: 20px;
	background: transparent url(../img/filter.png) no-repeat center
		left;
}

.command.attch {
	padding-left: 20px;
	background: transparent url(../img/file.png) no-repeat center left;
}

.command.diff {
	padding-left: 20px;
	background: transparent url(../img/diff.png) no-repeat center left;
}

.command.details {
	padding-left: 20px;
	background: transparent url(../img/details.png) no-repeat center left;
}

.command.list {
	padding-left: 20px;
	background: transparent url(../img/list.png) no-repeat center left;
}

.command.table {
	padding-left: 20px;
	background: transparent url(../img/table.png) no-repeat center left;
}

.command.edit {
	padding-left: 20px;
	background: transparent url(../img/pencil.png) no-repeat center left;
}

.command.new {
	padding-left: 20px;
	background: transparent url(../img/add.png) no-repeat center left;
}

.command.delete {
	padding-left: 20px;
	background: transparent url(../img/cross.png) no-repeat center left;
}

.command.select {
	padding-left: 26px;
	background: transparent url(../img/basket.png) no-repeat center left;
}

.command.web {
	padding-left: 20px;
	background: transparent url(../img/web.png) no-repeat center left;
}

.command.tree {
	padding-left: 20px;
	background: transparent url(../img/tree.png) no-repeat center left;
}

.command.down {
	padding-left: 20px;
	background: transparent url(../img/down.png) no-repeat center left;
}

.command.up {
	padding-left: 20px;
	background: transparent url(../img/up.png) no-repeat center left;
}

.command.update_app {
	padding-left: 20px;
	background: transparent url(../img/update_app.png) no-repeat center left;
}

.command.process {
	padding-left: 20px;
	background: transparent url(../img/process.png) no-repeat center left;
}
.command.copy {
    padding-left: 20px;
    background: transparent url(../img/copy.png) no-repeat center left;
}
.command.conflict {
	padding-left: 20px;
	background: transparent url(../img/conflict.png) no-repeat center left;
}

.scroll {
	overflow: auto;
}

/* ul */
.doc-list {
    clear: both;
}

.doc-list ul {
    list-style-type: none;
}

.doc-list ul.doc li {
    margin: 3px;
}

.mm h4 {
	border: solid 1px #666;
	float: left;
	text-transform: capitalize;
	font-size: 12px;
	padding: 5px 5px 2px 5px;
	margin-right: 1px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	max-width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mm-bloc {
	position: absolute;
	background: white;
	padding: 0px 10px 10px 10px;
	overflow: hidden;
	border: solid 1px #666;
	box-shadow: 2px 2px 2px #AAA;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: auto;
	min-width:250px;
	padding-right:5px;
}

.mm-bloc .ui-resizable-se {
	top:1px;
	height:100%;
	background:transparent;
}
.mm-bloc {
	display: none
}

.mm-bloc .info {
	font-size:14px;
}

.mm-bloc .command-line {
	padding-top:5px;
	padding-bottom:5px;
}

a.toggle {
	font-size: 0.6em;
	color: #111;
}

/* tables */
table {
	font-family: arial;
	margin: 10px 0px 15px 0px;
	font-size: 12px;
	border-collapse: collapse;
	border: 1px solid #dedede;
	margin-top: 16px;
}

table thead tr th,table.tablesorter tfoot tr th {
	background: url("../img/table_sorter_header.png") repeat-x scroll 0 0
		transparent;
	height: 32px;
	text-align: left;
	text-indent: 10px;
	text-transform: capitalize;
}

table thead tr .header {
	background: url("../img/table_sorter_header.png") repeat-x scroll 0 0
		transparent;
	text-decoration: none;
	white-space: nowrap;
}

table thead tr .header .main a {
	color: #666666;
	font-size: 1.1em;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
	text-transform: capitalize;
}

table thead tr .header .sub {
	color: #999999;
	font-size: 0.8em;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
	text-transform: capitalize;
}

table thead tr .header a:hover {
    text-decoration: underline;
}

/*
table tbody tr {
    height:15px; 
    overflow:hidden;
}
*/

table tbody td {
	color: #3D3D3D;
	padding-left: 8px;
	background-color: #FFF;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #DEDEDE;
	padding: 10px 10px;
}

table thead td {
	text-align: center;
}

table tbody td input {
	padding: 2px;
	margin: 0px;
}

table tbody tr.odd td {
	background-color: #F0F0F6;
}

table thead tr .up {
	background-image: url(../img/asc.gif);
}

table thead tr .down {
	background-image: url(../img/desc.gif);
}

/* Simple table with no decoration */
table.simple {
	margin: 0;
	padding: 0;
	width: 100%
}

table.simple td {
    padding: 3px 3px 3px;
    margin: 0 0 0 0;
    border: 0 none;
    text-align: left;
}

table.highlight {
    background: none;
}

table.highlight tbody td {
    background: none;
}

table.highlight tbody tr:hover {
    background-color: #AAD4AA;
    -moz-transition: background-color .25s linear;
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
}


span.highlight {
    background: none;
}

span.highlight:hover {
    background-color: #AAD4AA;
    -moz-transition: background-color .25s linear;
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
}


span.highlight.accept-drop {
    background-color: #FFCC33;
}


table.data tbody td {
	text-overflow: ellipsis;
	overflow: hidden;
}

table.data tbody td * {display:block; max-height:150px}

a.tree-action {
    text-decoration: none;
    color: #4c7c2b;
    padding-left: 20px;
}

a.tree-action.open-tree {
	background: transparent url(../img/expand.png) no-repeat center left;
}

a.tree-action.close-tree {
	background: transparent url(../img/collapse.png) no-repeat center left;
}

a.empty-tree {
	background: transparent;
}

ul.treenode {
    list-style-type: none;
    border-left:dotted 1px #DDD;
}


.command.hidden {
    display: none;
}

.hashidden:hover .command.hidden,h5:hover .command.hidden,td:hover .command.hidden {
    display: inline;
}

fieldset {
    width: 40%;
    margin: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

fieldset legend {
    font-weight: bold;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .6em .6em .6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	color: #888888;
        backgroung-color: #333333;
	z-index: 50;
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

li.field {
	color: #593840;
	list-style: none;
}

/* Models widget */
span.module {
	text-transform: capitalize;
	color: #4c7c2b;
	padding-left: 20px;
	background-image: url(../img/asc.gif);
	background-repeat: no-repeat;
	background-position: left center;
}


.mm {
	padding: 0;
}

.mm.actif h4 {
    background:white;
}

*[draggable=true] {
    -khtml-user-drag: element;
    -moz-user-drag: element;
    -webkit-user-drag: element;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: move;
}

*:-khtml-drag {
    background-color: rgba(238, 238, 238, 0.5);
}

/* Tooltips */
.hastooltip {
	position: relative;
}

.hastooltip .tooltip {
	text-transform: none;
	display: none;
	color: #000;
	position: absolute;
	z-index: 100;
	min-width: 200px;
	top: 15px;
	left: 20px;
	background: #C2C2C2;
	border: 1px solid #A3A3A3;
	padding: 8px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-weight: normal;
}

.hastooltip:hover .tooltip,.hastooltip:focus .tooltip {
	display: block;
}

/*  menu */
.hasmenu {
	position: relative;
}

.hasmenu ul.menu {
    	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: none;
	color: #000;
	position: absolute;
	z-index: 1000;
	min-width: 50px;
	top: 10px;
	left: 0px;
	background-color: #FFF;
	border: 1px solid #A3A3A3;
	padding: 8px;
	/*  -webkit-border-radius: .5em; */
	/*  -moz-border-radius: .5em;*/
	/*  border-radius: .5em;*/
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-weight: normal;
	white-space:nowrap;
}

.hasmenu:hover .menu,.hasmenu:focus .menu {
	display: block;
}

#geoloc-edit-map {
	height: 400px;
	width: 400px;
}

#geoloc-view-map {
	height: 700px;
	width: 900px;
}

#status-bloc {
	font-size: 13px;
}

#status-bloc p {
	padding: 0;
	margin: 0;
	width: 200px;
	overflow: hidden;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	text-overflow: ellipsis; /* pour le reste du monde */
	white-space: nowrap;
}

#status-bloc em {
	color: #666;
	font-style: normal
}

.tab-links {
	width: 230px;
}

.actif {
	background: white
}

.info {
	font-size: 11px;
	color: #666
}

.scroll-checkboxes {
	height: 50px;
	padding: 5px;
	overflow: auto;
	border: 1px solid #ccc
}

.close_button {
	position: absolute;
	right: 5px;
	margin-top: -35px;
	background: url("../img/close_fancy.png") no-repeat 0 3px;
	padding-left: 20px;
	padding-bottom: 25px;
	cursor: pointer;
}

.mm-bloc .close_button {
	margin-top:0;
}

.onglet.dictionary {
	background: #8abf66; 
	padding: 3px 3px 4px 3px;
	color: black
}


#dropbox { 
    border: 10px dashed #ccc; 
    width: 170px; 
    height: 70px; 
    margin: 10px;
}

#dropbox.hover { 
    border: 10px dashed #333; 
}

.multi-col {
    overflow: hidden;
    white-space: nowrap;
}

.doc-column {
    float: left;
}

.viewdocs2 .architecture {
	border:solid 1px #AAA;
	width:150px;
	padding:15px;
	position:fixed;
	right:0;
}

.viewdocs2 .architecture ul {
	padding-left:6px;
	border-left:dotted 1px #DDD;
}

.viewdocs2 .architecture li {
    background: url("../img/dotted.png") no-repeat scroll 0 7px transparent;
    list-style: none outside none;
    padding-left: 10px;
}

.viewdocs2 .models {
    float:left;
    padding-left:15px;
    width:70%;
}

.viewdocs2 .doc_block {
    float:left; 
    height:150px;
    width:250px;
    overflow:auto; 
    border:solid 1px #DDD;
    margin:9px;
}

.viewdocs2 .doc_block .data_table {
    margin:0;
}

.grey {
    color : #AAA;
}

.left {
    float : left;
}

.right {
	float:right;	
}

.cleaner {
	clear:both
}

#downloadify {
    position : relative;
    margin-left : 10px;
    margin-top : 3px;
}

.editable_fieldset {
	border:#333 1px dotted;
}
.editable_fieldset legend em {
	font-style:italic;
	color:#666;
}
.editable_fieldset p {
	padding:10px;
}

#chooser {
	position:relative;
	padding:20px;
	background:#DDD;
	margin-top:2px;
	border:solid 1px #AAA;
	box-shadow:2px 2px 2px #AAA;
}

.large {
	width:100%;
}

ul.treenode span.selected {
    border: 1px solid #F00;
}

div.image-grid {
    float : left;
    width : 140px;
    padding : 10px;
    margin : 10px;
    
}

div.image-grid image {
    width : 80px;
}
